# FakeRAM2.0 config for Tiny Rocket (Nangate45)
{
  "tech_nm": 45,
  "voltage": 1.1,
  "metal_prefix": "metal",
  "metal_layer": "metal3",
  "pin_width_nm": 70,
  "pin_pitch_nm": 140,
  "metal_track_pitch_nm": 140,
  "manufacturing_grid_nm": 1,
  "contacted_poly_pitch_nm": 210,
  "column_mux_factor": 1,
  "fin_pitch_nm" : 210,
  "snap_width_nm": 140,
  "snap_height_nm": 1400,

  "srams": [
    {"name": "fakeram_32x64",   "width": 32, "depth": 64,   "banks": 1},
    {"name": "fakeram_32x1024", "width": 32, "depth": 1024, "banks": 1}
  ]
}
